html,
body {
  font-family: Texturina;
  margin: 0px;
  color: rgb(63, 63, 63);
  text-align: center;
  font-size: 20px;
  background-image: radial-gradient(rgb(255, 255, 255), rgb(199, 198, 198));
}

.column {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
  width: 300px;
  padding: 10px;
  background-image: radial-gradient(
    rgba(255, 0, 0, 0.808),
    rgba(0, 0, 0, 0.808)
  );
  display: inline-block;
}

.column + .column {
  margin-left: 50px;
}

.kart {
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

#img-0,
#img-1,
#img-2 {
  opacity: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.mesaj {
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
  margin-top: 50px;
  background-color: rgba(207, 1, 1, 0.863);
  color: rgb(255, 255, 255);
}

.mesaj p {
  padding: 10px;
}

#btn-win,
#btn-lose {
  color: rgb(0, 0, 255);
  cursor: pointer;
  text-decoration: underline;
}
#btn-win:hover,
#btn-lose:hover {
  color: rgb(0, 130, 255);
}

.p-1 {
  margin-bottom: 50px;
}
